#anonimo.container.text-center
    h1 Completa discresión y anonimato
    .col-xs-12.col-sm-6
        img.img-responsive.col-xs-12.col-sm-6(src="/images/equipo.svg", style="width: 70%; margin-left: 15%")
    .col-xs-12.col-sm-6
        p Por tu propia seguridad y la de todos los usuarios de la plataforma la única información que necesitas 
            | es un nombre de usuario y una contraseña y ambos son cifrados, de tal manera que la identidad de
            | todos los usuarios está 100% segura.
        p Nunca guardaremos información que pudiera identificar a nuestros usuarios para de ese modo manternerlos 
            | completamente seguros mientras usan nuestro servicio.