#como-funciona.container.text-center
    h1 Como funciona
    .row
        .paso.col-xs-6.col-md-4
            .thumbnail
                h3 1. Publica tu tarea
                img.img-responsive(src='/images/publica.png', alt='Publica', style='width: 50%')
                .caption
                    p Publica tu tarea para que nuestros profesionales puedan verla
        .paso.col-xs-6.col-md-4
            .thumbnail
                h3 2. Recibe ofertas
                img.img-responsive(src='/images/ofertas.png', alt='Recibe ofertas', style='width: 50%')
                .caption
                    p Consigue ofertas de nuestros profesionales para resolver tu tarea
        .paso.col-xs-6.col-md-4
            .thumbnail
                h3 3. Elige
                img.img-responsive(src='/images/elige.png', alt='Elige', style='width: 50%')
                .caption
                    p Elige al profesional que más te convenza con su propuesta
        .paso.col-xs-6.col-md-4
            .thumbnail
                h3 4. Paga
                img.img-responsive(src='/images/paga.png', alt='Paga', style='width: 50%')
                .caption
                    p Paga la tarifa acordada entre tu y el profesional
        .paso.col-xs-6.col-md-4
            .thumbnail
                h3 5. Recibe tu tarea
                img.img-responsive(src='/images/recibe.png', alt='Recibe tu tarea', style='width: 50%')
                .caption
                    p Recibe tu tarea resuelta
        .paso.col-xs-6.col-md-4
            .thumbnail
                h3 6. Califica
                img.img-responsive(src='/images/califica.png', alt='Califica', style='width: 50%')
                .caption
                    p Califica al profesional que resolvió tu tarea