extends layout

block content
  .container
    #como-funciona
      h1 Registrate
      p Invariablemente de si quieres resolver tareas o que te resulvan tareas tu primer paso es 
        | registrarte.
      p 
        a(href='/registrarse') Puedes registrarte aqui.
      
      h1 Quiero que resuelvan mi tarea
      p Si lo que deseas es encontrar profesionales para resolver tu tarea lo único que necesitas
        | es estar registrado. Una vez que te registrar tu cuenta automáticamente se convierte
        | en cuenta de alumno y te permite publicar tus tareas para que los profesionales
        | puedan verlas y realizar propuestas.
      p Si ya estás registrado puedes 
        a(href='/publicar_tarea') publicar tu tarea aqui.
      p Si aún no te has registrado 
        a(href='/registrarse') puedes registrarte aqui.
      
      h1 Quiero trabajar resolviendo tareas
      p Si deseas ser uno de nuestros profesionales deberás primero aprobar un examen en línea 
        | del área en la que deseas resolver tareas con al menos un 90% de aciertos para garantizar
        | tu correcto desempeño en la materia. Este examen consta de 200 preguntas repartidas en
        | 4 secciones de 50 preguntas cada una. Cada pregunta es de opción multiple y contarás con
        | 3 horas como máximo para resolver cada sección. No es necesario que completes todas las
        | secciones el mismo día.
      p Puedes presentar el examen un máximo de 3 veces pero ten en cuenta que si en la tercer 
        | oportunidad no logras alcanzar el 90% requerido ya no podrás presentar nuevamente el 
        | examen para esa materia, perdiendo así la posibilidad de ser uno de nuestros
        | profesionales en ella.
      p Si ya estás registrado y deseas postularte como un prefesional te invitamos a ver nuestra 
        a(href='materias') lista de materias
        |, en donde tendrás la opción iniciar el proceso de presentación de examen para la materia
        | que desees.
      p Si aún no te has registrado 
        a(href='/registrarse') puedes registrarte aqui.
      h3 ¡Buena suerte!