extends layout

block content
  link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  .container
    h1 Publica tu tarea.
    h3 Desde aquí puedes publicar cualquier tarea que tengas para que los profesionales sean capaces de verla.
      | Ten en cuenta que tu tarea requiere algún tiempo para ser observada por los profesionales y que puedan
      | realizar propuestas sobre cuánto cobrarían y en cuánto tiempo la terminarían.

  .container
    form(method="post", enctype="multipart/form-data")
      .form-group
        label(for="materia") Elige la materia de tu tarea:
        select(name='materia')
          option(value='', disabled='', selected='') Elige la materia
          each materia in materias
            option(value=materia.id)=materia.nombre
      .form-group
        label(for="descripcion") Describe un poco tu tarea.
        input#descripcion.form-control(type="text", name="descripcion")
      .form-group
        label(for="archivo") Elige el archivo que contiene tu tarea.
        input#archivo(type="file", name="archivo")
      .form-group
        label(for="fecha_limite") elige una fecha límite para tu tarea (mm/dd/aaaa).
        input#fecha_limite(type="text", name="fecha_limite")
      input(type="submit", value="Enviar")
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
  script.
    $('#fecha_limite').datepicker({
      changeYear: true, 
      yearRange: "c-80:c",
      monthNames:["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
      dayNames: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
      dayNamesMin: [ "Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab" ]
    })