extends layout

block content
  .container
    #quienes-somos
      h1 Quienes somos
      p Somos un grupo de emprendedores que en algún momento se vieron obligados a hacer cosas no bien vistas a cambio de 
        | un poco de dinero para poder comer. Entre esas cosas se encontraba el resolver tareas para otras personas. 
        | Es por eso que aunque no es algo muy ético, sabemos que es una necesidad que existe y comprendemos que muchas 
        | veces es mejor que alguien haga por ti algo que tú no puedes para que de ese modo te puedas concentrar en lo 
        | que verdaderamente te importa.
      p Nuestro objetivo en resuelvemitarea.com es únicamente juntar a personas que están dispuestas a pagar a cambio de 
        | la solución a sus tareas con personas capaces de resolver dichas tareas. Los motivos personales de por qué 
        | cada quien utilice el servicio son cuestión de cada uno de ellos. Nosotros les ofrecemos un espacio libre 
        | de prejuicios en el cual pueden permanecer completamente anónimos y en el que todos resulten beneficiados.
      p Como tal, nosotros también hemos decidido permanecer en anonimato, sin que eso signifique descuidar la calidad 
        | del servicio de ninguna forma. Estamos comprometidos a implementar las medidas necesarias para asegurar a 
        | nuestros usuarios anonimato pero al mismo tiempo ofrecer una garantía en nuestro servicio, primeramente 
        | evaluando a todo aquel que desee trabajar resolviendo tareas para saber que en verdad es capaz de resolver 
        | dichas tareas y además mejorando continuamente los procesos dentro de la plataforma para que todos los 
        | usuarios tengan la mejor experiencia posible dentro del sitio.
