extends layout

block content
  .container
    h2 Se parte de resuelvemitarea.com
    h3 Para poder publicar tu tarea y obtener quien la resuelva o para poder trabajar resolviendo tareas
      | debes primero registrate :)
    h3 Recuerda que puedes permanecer totalmente anonimo y sólo necesitas un nombre de usuario y una contraseña
    form#registro(method="POST")
      .form-group
        label Nombre:
        input.form-control(type="text", name="nombre", placeholder="No tu nombre real")
      .form-group
        label Contraseña:
        input.form-control(type="password", name="password")
      input.btn.btn-primary(type="submit", value="Registrate")