extends layout

block content
  .container
    h1 Trabaja resolviendo tareas
    h2 Cómo empezar a trabajar
    ol
      li Registrate como usuario 
        a(href='/registro') aquí
      li Elige las materias en las que puedes trabajar
      li Aprueba el examen de cada materia
      li Empieza a ofrecer tus servicios y a ganar dinero