extends layout

block content
  .container
    h3 Tu tarea ha sido enviada con éxito, espera por las propuestas para resolverla.
    a(href='/') Ir al panel principal
    a(href='/publicar_tarea') Publicar otra tarea