doctype html
html
  head
    meta(http-equiv="refresh", content="4; url=/accede")
  body
    h3 El usuario ya existe, te redirigirmos al area de acceso
    h3 Si no se redirige automáticamente por favor haz click 
        a(href="/accede") aquí