.btn-hacedor {
  border: 4px #00aaff solid;
  border-radius: 5px;
}

#deja {
  font-family: "Comic Sans MS";
}

#deja .materia {
  padding: 0;
  transform-style: preserve-3d;
  perspective: 1000px;
}

#deja .materia .frente, #deja .materia .reverso {
  width: 100%;
  min-height: 10em;
  border: 1px solid gray;
  backface-visibility: hidden;
  transition-duration: 0.5s;
}

#deja .materia .frente .titulo {
  position: relative;
  top: 50%;
}

#deja .materia .frente .titulo h1 {
  position: relative;
  top: -50%;
}

#deja .materia .reverso {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  border: 3px solid #00aaff;
}

#deja .materia:hover .frente {
  transform: rotateY(-180deg);
}

#deja .materia:hover .reverso {
  transform: rotateY(0deg);
}

#quienes-somos {
  font-size: 1.4em;
}

.caption p {
  min-height: 3em;
}

footer {
  padding: 2em 0;
  margin-top: 4em;
  background-color: black;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #ccffee;
  text-decoration: none;
}

footer .social {
  padding-top: 1.5em;
}

footer .social i {
  width: 27px;
  height: 27px;
  background: url("../images/social-icons.png") no-repeat 0px 0px;
  display: inline-block;
  margin: 0 5px;
}

footer .social a i.facebook {
  background-position: -3px -2px;
}

footer .social a i.twitter {
  background-position: -43px -3px;
}

footer .social a i.dribble {
  background-position: -83px -3px;
}

footer .social a i.google {
  background-position: -126px -2px;
}

footer .social a i.youtube {
  background-position: -167px -3px;
}

footer .social a i.facebook:hover {
  background-position: -3px -36px;
}

footer .social a i.twitter:hover {
  background-position: -43px -36px;
}

footer .social a i.dribble:hover {
  background-position: -83px -36px;
}

footer .social a i.google:hover {
  background-position: -126px -36px;
}

footer .social a i.youtube:hover {
  background-position: -167px -36px;
}
